.toolbar {
    margin-top: 90px;
}

.cart-details {
    display: flex;
    
    justify-content: space-between;
    margin-top: 5%;
}


@media screen and (max-width:470px) {
    .cart-details {
        display: inline-block;
        margin-top: 2rem;
        
    }

    

    

   
}
@media screen and (max-width:295px) {
    .cart-details {
        display: block;
        margin-top: 2.1rem;
        
    }

    .interact {
        margin-top: 1rem;
        
        
    }

    

   
}