    .media {
        height: 250px;
    }

    .card-actions {
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        flex-direction: row;
       
        align-items: center;
    }